$text_color:#333;
$font_family:serif;
//couleur
$color-violet: #670362;
$color-text:#595959;
$color-titre:#474747;
$color-white:#fff;
$color-black:#000;
$color-grey: #f3f8fa;
$color-blue: #670362;
$color-grey: #f3f8fa;
$color-red: rgb(211, 7, 7);
$color-bg: #dbdbe0;


$box-shadow: -1px 4px 10px -4px rgba(0,0,0,0.45);
$box-shadow: 4px 4px 20px -9px rgba(0,0,0,0.75);

//box-shadow
$box-shadow:-1px 4px 13px -2px rgba(0,0,0,0.3);
//border-radius
$border-radius:1rem;
