* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.admin {
  background-color: #dbdbe0;
  height: 100vh;
}

.interface__chat p {
  font-size: 1.3rem;
}

.interface__chat span {
  font-size: 1.4rem;
  font-weight: 400;
}

.interface__chat .message__admin__contenu--time {
  float: right;
}

.interface__chat .ets__name {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.interface__chat textarea {
  font-size: 1.5rem;
}

/******************************************************/
.card__stats h4 {
  font-size: 1.6rem;
  font-weight: 400;
}

.card__stats span {
  font-size: 1.7rem;
  font-weight: 300;
}

.card__stats__info--tchat__content span {
  font-size: 1.6rem !important;
}

.card__stats__info--percent {
  color: #d30707;
  font-weight: bold;
  font-size: 3rem !important;
}

.card__stats__info--percent__tchat {
  color: black;
}

.historique__table thead {
  font-size: 1.6rem;
  font-weight: bold;
}

.historique__table tbody {
  font-size: 1.4rem;
}

.interface__chat {
  height: 50rem;
  width: 38rem;
  position: absolute;
  right: 5%;
  bottom: 20%;
  border-radius: 1rem;
  -webkit-box-shadow: 10px -18px 113px -69px rgba(0, 0, 0, 0.75);
          box-shadow: 10px -18px 113px -69px rgba(0, 0, 0, 0.75);
  visibility: hidden;
}

@media only screen and (max-width: 414px) {
  .interface__chat {
    width: 30rem;
    height: 40rem;
  }
}

@media only screen and (max-width: 320px) {
  .interface__chat {
    width: 27rem;
    height: 35rem;
  }
}

.interface__chat__head {
  height: 8rem;
  background-color: #670362;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
          box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
  z-index: 1;
  border-radius: 1rem 1rem 0 0;
}

.interface__chat__head .ets__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interface__chat__head .ets__infos .ets__logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 1rem;
  text-align: center;
}

.interface__chat__head .ets__infos .ets__logo img {
  height: 5rem;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.interface__chat__head .icon__fermer {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.interface__chat__head .icon__fermer img {
  height: 2rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interface__chat__body {
  height: 73%;
  padding: 2rem 1rem 0;
  overflow-x: hidden;
}

.interface__chat__body .message__admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-bottom: 2rem;
}

.interface__chat__body .message__admin__icon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid #670362;
  margin-right: .3rem;
}

.interface__chat__body .message__admin__icon img {
  height: 3rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interface__chat__body .message__admin__contenu {
  width: 96%;
  margin-top: 1rem;
}

.interface__chat__body .message__admin__contenu p {
  background-color: #f3f8fa;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: .5rem;
}

.interface__chat__body .message__client {
  width: 80%;
  margin-bottom: 2rem;
  float: right;
}

.interface__chat__body .message__client__contenu .message {
  background-color: #670362;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  margin-bottom: .5rem;
  display: block;
  float: right;
}

.interface__chat__body .message__client__contenu--time {
  clear: both;
  display: block;
}

.interface__chat__foot {
  -webkit-box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
          box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
  border-radius: 0 0 1rem 1rem;
}

.interface__chat__foot .form__chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  border-radius: 1rem 1rem 0 0;
}

.interface__chat__foot .form__chat textarea {
  height: 5.3rem;
  width: 75%;
  padding: 1rem;
  border: none;
}

.interface__chat__foot .form__chat .parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.interface__chat__foot .form__chat .parent-div input {
  cursor: pointer;
}

.interface__chat__foot .form__chat .parent-div input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}

.interface__chat__foot .form__chat button {
  height: 3rem;
  width: 3rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

.interface__chat__foot .form__chat button input {
  width: 5rem;
  width: 0.1rem;
  overflow: hidden;
}

.interface__chat__foot .form__chat button img {
  width: 100%;
  height: 3rem;
}

.chatBlocView {
  visibility: visible;
  bottom: 15%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 414px) {
  .chatBlocView {
    bottom: 30%;
  }
}

@media only screen and (max-width: 320px) {
  .chatBlocView {
    bottom: 33%;
  }
}

.page__content {
  margin-left: 7rem;
  width: calc(100% - 7rem);
  min-height: 100vh;
  padding: 2rem;
}

.graphic {
  min-height: 50vh;
  width: 100%;
  -webkit-box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
          box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 1rem;
  overflow: scroll;
}

.graphic canvas {
  height: 50vh !important;
}

@media only screen and (max-width: 600px) {
  .graphic canvas {
    width: 130rem !important;
  }
}

.historique {
  height: 95vh;
  -webkit-box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
          box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  overflow: scroll;
}

.historique__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historique__head__icon {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin-right: 1.5rem;
}

.historique__head__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.historique__table {
  width: 100%;
  margin-top: 5rem;
}

.historique__table tr {
  height: 5rem;
  padding: 0 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.historique__table thead {
  border-bottom: 1px solid #dbdbe0;
}

.historique__table tbody tr:hover {
  background-color: #670362;
  cursor: pointer;
  color: white;
}

.historique__table--client {
  width: 60%;
}

.historique__table--admin__icon {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin-right: 1.5rem;
  background-color: white;
}

.btn__button__chat {
  position: fixed;
  right: 1%;
  bottom: 0;
  -webkit-transform: translate(-99%, -100%);
          transform: translate(-99%, -100%);
  height: 7rem;
  width: 7rem;
  background-color: #670362;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__button__chat img {
  height: 4rem;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn__button__chat .fermer {
  display: none;
}

.btn__conversation {
  float: right;
  padding: 1rem 2rem;
  border: none;
  border-radius: .5rem;
  background-color: #d30707;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.btn__conversation:hover {
  background-color: rgba(211, 7, 7, 0.8);
}

.btn__conversation:focus {
  outline: none;
}

.sidebar {
  height: 100vh;
  width: 7rem;
  background-color: #670362;
  position: fixed;
  padding: 2rem 0;
}

.sidebar .sidebar__menu__item {
  padding: 1rem 0;
  margin-bottom: 2rem;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.sidebar .sidebar__menu__item:hover {
  background-color: rgba(255, 255, 255, 0.123);
  border-right: 3px solid white;
}

.sidebar .sidebar__menu__item__active {
  background-color: rgba(255, 255, 255, 0.123);
  border-right: 3px solid white;
}

.sidebar__icon {
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
}

.sidebar__icon img {
  height: 4rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__stats {
  min-height: 5rem;
  border: 1px solid #ccc;
  margin-top: 5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
          box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.45);
  background-color: white;
}

.card__stats__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__stats__head__icon {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.card__stats__head__icon img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__stats__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.card__stats__info--tchat {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

.card__stats__info__icon {
  height: 5rem;
  width: 3rem;
  margin-right: 2rem;
}

.card__stats__info__icon--tchat {
  height: 2rem !important;
  margin-right: 0;
}

.card__stats__info__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__stats__historique {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.card__stats__historique__icon {
  height: 5rem;
  width: 2rem;
  margin: 0 .5rem 0 1rem;
}

.card__stats__historique__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.all__conversation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80vh;
  width: 60rem;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 2222;
  display: none;
}

@media only screen and (max-width: 767px) {
  .all__conversation {
    width: 40rem;
  }
}

@media only screen and (max-width: 600px) {
  .all__conversation {
    width: 25rem;
    left: 70%;
  }
}

.all__conversation__content {
  padding: 2rem;
  background-color: aliceblue;
  height: 93%;
  overflow-x: hidden;
}

.all__conversation__content__discuss {
  border-bottom: 1px dotted #ccc;
  padding: 1rem 0;
}

.all__conversation__content__discuss__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all__conversation__content__discuss__head__icon {
  height: 3rem;
  width: 3rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-right: 1rem;
}

.all__conversation__content__discuss__head__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.all__conversation__content__discuss__head__idClient {
  font-size: 1.3rem;
  color: #670362;
}

.all__conversation__content__discuss__head__idAdmin {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.all__conversation__content__discuss__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.all__conversation__content__discuss__message p {
  width: 70%;
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
  .all__conversation__content__discuss__message p {
    font-size: 1.2rem;
  }
}

.all__conversation__content__discuss__message span {
  font-size: 1.3rem;
  font-weight: 300%;
}

.all__conversation__close {
  width: 100%;
  border-top: 1px solid #ccc;
  bottom: 0;
  position: absolute;
  bottom: 0;
  padding: 1rem 2rem;
}

.conversationView {
  display: block;
}
/*# sourceMappingURL=style.css.map */