* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.admin {
  background-color: #dbdbe0;
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

.box {
  margin-top: 2rem;
}

.box h2 {
  font-size: 3.5rem;
  color: #474747;
  font-weight: 500;
}

.box p {
  font-size: 1.5rem;
  color: #595959;
  margin-top: 1rem;
}

.box .illustration {
  color: #670362;
}

.box .description h3 {
  font-size: 2rem;
  margin-top: 4rem;
  color: #474747;
}

.box .description p {
  font-size: 1.5rem;
  color: #595959;
}

.page__title h5 {
  font-size: 2rem;
  font-weight: bold;
  color: #670362;
  line-height: 2rem;
}

.page__title span {
  font-size: 1.4rem;
  color: #595959;
}

.page__title p {
  font-size: 1.5rem;
  color: #595959;
}

.inscrip h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #670362;
  line-height: 2rem;
  margin-top: 2rem;
}

.connex h4 {
  font-size: 2rem;
  font-weight: bold;
  color: #670362;
  line-height: 2rem;
  margin-top: 2rem;
}

.row-foot {
  margin-bottom: 2rem;
}

.row-foot h3 {
  font-size: 2rem;
  line-height: 2rem;
  color: #595959;
  text-transform: uppercase;
  font-weight: 400;
}

.row-foot p {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: #595959;
}

.row-foot ul {
  display: block;
  margin: 1.5rem;
}

.row-foot ul li {
  list-style: none;
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.row-foot ul li a {
  color: #595959;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.row-foot ul li a:hover {
  color: #670362;
}

.footer2 .inline-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer2 .inline-items ul li {
  list-style: none;
  padding-left: 1rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer2 .inline-items ul li a {
  color: #595959;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer2 .inline-items ul li a:hover {
  color: #670362;
}

.footer2 span {
  color: #595959;
}

.interface__chat p {
  font-size: 1.3rem;
}

.interface__chat span {
  font-size: 1.4rem;
  font-weight: 400;
}

.interface__chat .message__admin__contenu--time {
  float: right;
}

.interface__chat .ets__name {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.interface__chat textarea {
  font-size: 1.5rem;
}

/******************************************************/
.card__stats h4 {
  font-size: 1.6rem;
  font-weight: 400;
}

.card__stats span {
  font-size: 1.7rem;
  font-weight: 300;
}

.card__stats__info--tchat__content span {
  font-size: 1.6rem !important;
}

.card__stats__info--percent {
  color: #d30707;
  font-weight: bold;
  font-size: 3rem !important;
}

.card__stats__info--percent__tchat {
  color: black;
}

.historique__table thead {
  font-size: 1.6rem;
  font-weight: bold;
}

.historique__table tbody {
  font-size: 1.4rem;
}

.apropo__chat {
  width: 100%;
  min-height: 40rem;
  margin-top: 3rem;
  padding: 3rem 2rem;
  background-color: rgba(211, 211, 211, 0.146);
}

.apropo__chat h3 {
  font-size: 3.5rem;
  margin-top: 1.5rem;
  color: #670362;
}

.apropo__chat P {
  font-size: 2rem;
}

.apropo__chat .apropo__chat__description .icon__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apropo__chat .aprop__cicle {
  width: 20rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apropo__chat .aprop__cicle .cicle__image {
  height: 5rem;
  width: 5rem;
}

.navbar__container {
  width: 100%;
  min-height: 8rem;
  background-color: #670362 !important;
}

.navbar__container .mynav {
  height: 100%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container .mynav .logo {
  list-style: none;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar__container .mynav ul li {
  list-style: none;
  margin-left: 1rem;
}

.navbar__container .mynav ul li a {
  list-style: none;
  font-size: 2rem;
  text-decoration: none;
  color: #fff !important;
}

.section__cards {
  width: 100%;
  min-height: 50rem;
  padding: 3rem;
}

.section__cards__h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #670362;
}

.section__cards__p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section__intro {
  width: 100%;
  min-height: 50rem;
  padding: 8rem 2rem;
  background-color: #67036210;
}

.section__intro .description__card {
  padding: 3rem 2rem;
  height: 40rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.section__intro .description__card span {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ed5830;
}

.section__intro .description__card h2 {
  font-size: 4rem;
}

.section__intro .description__card P {
  font-size: 1.5rem;
}

.section__intro .description__card .mybutton {
  font-size: 1.5rem;
  height: 5rem;
  width: 13rem;
  background-color: white;
  color: #670362;
  font-weight: 900;
  border: 1px solid #670362;
  border-radius: 50px;
}

.section__intro .description__card .mybutton:focus {
  outline: none;
}

.section__intro .illustration__card {
  width: 100%;
  height: 40rem;
}

@media only screen and (max-width: 453px) {
  .section__intro .illustration__card .img {
    margin-top: 6rem;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.section__publ {
  width: 100%;
  min-height: 20rem;
  padding-left: 1.5rem;
  padding-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 1rem;
}

.section__publ h3 {
  font-size: 4.5rem;
  color: #333;
  text-shadow: -5px -5px 1px rgba(141, 53, 146, 0.125);
  margin-bottom: 3rem;
}

.section__publ .agenda {
  width: 100%;
  height: 18rem;
  text-align: center;
  padding: 3rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.303);
  border-radius: 20px;
  -webkit-box-shadow: -1px 8px 22px -3px rgba(0, 0, 0, 0.27);
          box-shadow: -1px 8px 22px -3px rgba(0, 0, 0, 0.27);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-top: 2rem;
}

.section__publ .agenda p {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.section__publ .agenda:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.228);
}

footer {
  padding-top: 3rem;
}

footer .footer2 {
  background-color: #ccc;
  padding-top: 2rem;
}

.chatBot__container {
  min-height: 50rem;
  position: fixed;
  right: 5%;
  bottom: 20%;
}

.interface__chat {
  z-index: 12;
  height: 50rem;
  width: 38rem;
  background-color: #fff;
  position: fixed;
  right: 5%;
  bottom: 20%;
  border-radius: 1rem;
  -webkit-box-shadow: 10px -18px 113px -69px rgba(0, 0, 0, 0.75);
          box-shadow: 10px -18px 113px -69px rgba(0, 0, 0, 0.75);
  visibility: hidden;
}

@media only screen and (max-width: 1400px) {
  .interface__chat {
    height: 40rem;
  }
}

@media only screen and (max-width: 414px) {
  .interface__chat {
    width: 30rem;
    height: 40rem;
  }
}

@media only screen and (max-width: 320px) {
  .interface__chat {
    width: 27rem;
    height: 35rem;
  }
}

.interface__chat__head {
  height: 8rem;
  background-color: #670362;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 1rem 1rem 0 0;
}

.interface__chat__head .ets__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interface__chat__head .ets__infos .ets__logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 1rem;
  text-align: center;
}

.interface__chat__head .ets__infos .ets__logo img {
  height: 5rem;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.interface__chat__head .icon__fermer {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.interface__chat__head .icon__fermer img {
  height: 2rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interface__chat__body {
  height: 73%;
  padding: 2rem 1rem 0;
  overflow-x: hidden;
}

.interface__chat__body .message__admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-bottom: 2rem;
}

.interface__chat__body .message__admin__icon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid #670362;
  margin-right: .3rem;
}

.interface__chat__body .message__admin__icon img {
  height: 3rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interface__chat__body .message__admin__contenu {
  width: 96%;
  margin-top: 1rem;
}

.interface__chat__body .message__admin__contenu p {
  background-color: #f3f8fa;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: .5rem;
}

.interface__chat__body .message__client {
  width: 80%;
  margin-bottom: 2rem;
  float: right;
}

.interface__chat__body .message__client__contenu {
  margin-bottom: 1rem;
}

.interface__chat__body .message__client__contenu .message {
  background-color: #670362;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  margin-bottom: .5rem;
  display: block;
  float: right;
}

.interface__chat__body .message__client__contenu--time {
  clear: both;
  display: block;
  text-align: right;
}

.interface__chat__foot {
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
}

.interface__chat__foot .form__chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  border-radius: 1rem 1rem 0 0;
}

.interface__chat__foot .form__chat textarea {
  height: 5.3rem;
  width: 80%;
  padding: 1rem;
  border: none;
}

.interface__chat__foot .form__chat .parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.interface__chat__foot .form__chat .parent-div input {
  cursor: pointer;
}

.interface__chat__foot .form__chat .parent-div input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}

.interface__chat__foot .form__chat button {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.interface__chat__foot .form__chat button:focus {
  outline: none;
}

.interface__chat__foot .form__chat button input {
  width: 5rem;
  width: 0.1rem;
  overflow: hidden;
}

.interface__chat__foot .form__chat button i {
  width: 100%;
  color: #670362;
  font-size: 3rem;
  -webkit-transform: rotate(47deg);
          transform: rotate(47deg);
}

.chatBlocView {
  visibility: visible;
  bottom: 15%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 1400px) {
  .chatBlocView {
    bottom: 18%;
  }
}

@media only screen and (max-width: 414px) {
  .chatBlocView {
    bottom: 25%;
  }
}

@media only screen and (max-width: 320px) {
  .chatBlocView {
    bottom: 33%;
  }
}

.page__content {
  margin-left: 7rem;
  width: calc(100% - 7rem);
  min-height: 100vh;
  padding: 2rem;
}

.graphic {
  min-height: 50vh;
  width: 100%;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.graphic canvas {
  height: 50vh !important;
}

@media only screen and (max-width: 600px) {
  .graphic canvas {
    width: 130rem !important;
  }
}

.historique {
  height: 95vh;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: #fff;
  padding: 2rem;
  overflow: scroll;
}

.historique__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historique__head__icon {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin-right: 1.5rem;
}

.historique__head__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.historique__table {
  width: 100%;
  margin-top: 5rem;
}

.historique__table tr {
  height: 5rem;
  padding: 0 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.historique__table thead {
  border-bottom: 1px solid #dbdbe0;
}

.historique__table tbody tr:hover {
  background-color: #670362;
  cursor: pointer;
  color: #fff;
}

.historique__table--client {
  width: 60%;
}

.historique__table--admin__icon {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin-right: 1.5rem;
  background-color: #fff;
}

.profil__parameter {
  padding: 2rem;
  min-height: 30rem;
  background-color: #fff;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.profil__parameter__title {
  font-size: 2.3rem;
  color: #670362;
  text-align: center;
  margin-bottom: 3rem;
}

.profil__parameter__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .profil__parameter__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.profil__parameter__form__info {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .profil__parameter__form__info {
    width: 100%;
  }
}

.profil__parameter__form__info__btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: .4rem;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.profil__parameter__form__info__btn:focus {
  outline: none;
}

.profil__parameter__form__info__btn--send {
  color: #670362;
  border: 1px solid #670362;
  margin-right: 1rem;
}

.profil__parameter__form__info__btn--send:hover {
  -webkit-box-shadow: inset 0 -4.4rem 0 0 #670362;
          box-shadow: inset 0 -4.4rem 0 0 #670362;
  color: #fff;
}

.profil__parameter__form__info__btn--reset {
  color: #d30707;
  border: 1px solid #d30707;
}

.profil__parameter__form__info__btn--reset:hover {
  -webkit-box-shadow: inset 0 -4.4rem 0 0 #d30707;
          box-shadow: inset 0 -4.4rem 0 0 #d30707;
  color: #fff;
}

.profil__parameter__form__info__btn--FormAgent {
  -webkit-transition: none;
  transition: none;
}

.profil__parameter__form__inputs {
  border: 1px solid #ccc;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.profil__parameter__form__inputs label {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.6rem;
  color: #dbdbe0;
}

.profil__parameter__form__inputs input,
.profil__parameter__form__inputs select {
  border: none;
  font-size: 1.5rem;
  width: 100%;
  background-color: #fff;
}

.profil__parameter__form__logo {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  .profil__parameter__form__logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.profil__parameter__form__logo__illustration {
  height: 7rem;
  width: 7rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  margin: 1rem auto;
  text-align: center;
  background-color: #dbdbe0;
}

.profil__parameter__form__logo__illustration img {
  width: 80%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1rem;
}

.profil__parameter__form__logo .label-file {
  cursor: pointer;
  color: #670362;
  font-weight: bold;
  border: 1px solid #670362;
  padding: 1rem 2rem;
  border-radius: 1rem;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

@media only screen and (max-width: 600px) {
  .profil__parameter__form__logo .label-file {
    width: 30%;
  }
}

.profil__parameter__form__logo .label-file:hover {
  color: #fff;
  background-color: #670362;
}

.profil__parameter__form__logo .input-file {
  display: none;
}

.view__paramater {
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem;
}

.view__paramater h4 {
  font-size: 2.3rem;
  color: #670362;
  margin-bottom: 3rem;
}

.view__paramater__personnalisation span {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}

.view__paramater__personnalisation .textarea {
  width: 100%;
  height: 10rem;
  font-size: 1.6rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid black;
}

.agent__parameter {
  height: 100rem;
  background-color: #fff;
  margin-top: 3rem;
  padding: 2rem 3rem;
  border-radius: 2rem;
  overflow: scroll;
  position: relative;
}

.agent__parameter h4 {
  font-size: 2.3rem;
  color: #670362;
  margin-bottom: 3rem;
}

.agent__parameter__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.agent__parameter__head__recherche {
  width: 85%;
  border: 2px solid #ccc;
  height: 3rem;
  background-color: aliceblue;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.agent__parameter__head__recherche__icon {
  height: 2.7rem;
  width: 3rem;
  border: none;
  border-right: 2px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.agent__parameter__head__recherche__icon:focus {
  outline: none;
}

.agent__parameter__head__recherche__icon img {
  height: 100%;
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}

.agent__parameter__head__recherche__form {
  width: 100%;
}

.agent__parameter__head__recherche__form input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  padding-left: 2rem;
}

.agent__parameter__head__recherche__form input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

.agent__parameter__head__recherche__form input:-ms-input-placeholder {
  font-size: 1.5rem;
}

.agent__parameter__head__recherche__form input::-ms-input-placeholder {
  font-size: 1.5rem;
}

.agent__parameter__head__recherche__form input::placeholder {
  font-size: 1.5rem;
}

.agent__parameter__head__addAgent {
  padding: .9rem 1rem;
  border: none;
  background-color: #670362;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.agent__parameter__head__addAgent:hover, .agent__parameter__head__addAgent:focus {
  -webkit-box-shadow: inset 0 -4.25rem 0 0 #fff;
          box-shadow: inset 0 -4.25rem 0 0 #fff;
  border: 1px solid #670362;
  color: #670362;
  outline: none;
}

.agent__parameter__table {
  width: 200rem;
}

.agent__parameter__table thead {
  font-size: 1.6rem;
  font-weight: bold;
}

.agent__parameter__table tbody {
  font-size: 1.5rem;
}

.agent__parameter__table tbody tr {
  height: 7rem;
}

.agent__parameter__table__column {
  width: 10rem;
}

.agent__parameter__table__column--name {
  width: 40rem;
}

.agent__parameter__table__column--email {
  width: 50rem;
}

.agent__parameter__table__column--tel {
  width: 30rem;
}

.agent__parameter__table__column--action {
  width: 30rem;
}

.agent__parameter__table__btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.agent__parameter__table__btn:focus {
  outline: none;
}

.agent__parameter__table__btn--edit {
  border: 1px solid #670362;
  color: #670362;
}

.agent__parameter__table__btn--edit:hover {
  background-color: #670362;
  color: #fff;
}

.agent__parameter__table__btn--delete {
  border: 1px solid #d30707;
  color: #d30707;
}

.agent__parameter__table__btn--delete:hover {
  background-color: #d30707;
  color: #fff;
}

.agent__parameter__formulaire {
  width: 50%;
  min-height: 10rem;
  background-color: #fff;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2rem;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 2rem;
}

@media only screen and (max-width: 600px) {
  .agent__parameter__formulaire {
    width: 100%;
  }
}

.formulaireAgentView {
  visibility: visible;
  top: 12%;
  left: 50%;
  -webkit-transform: trnaslateX(-50%);
          transform: trnaslateX(-50%);
}

.sectioncardsDescription {
  height: 45rem;
  width: 100%;
}

.sectioncardsDescription img {
  width: 100%;
  height: 40rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.section__cards__illustration {
  min-height: 40rem;
  width: 100%;
}

.section__cards__illustration__item {
  width: 100%;
  min-height: 20rem;
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 2rem;
}

.section__cards__illustration__item p {
  font-size: 1.5rem;
}

.section__cards__illustration__item i {
  color: #670362;
}

.inline-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.inline-icon .icon {
  width: 3rem;
  height: 3rem;
  background: white;
  text-align: center;
  border-radius: 1rem;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  margin-left: 1rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.inline-icon .icon:hover {
  background: #670362;
  color: white;
}

.inline-icon .icon a .fa {
  margin-top: .5rem;
}

.inline-icon .icon a:hover {
  color: white;
}

.input_button {
  width: 15rem;
  height: 5rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  color: #670362;
  border: none;
  border-radius: 1rem;
  border: 1px solid #670362;
  background-color: #fff;
  margin-top: 2rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.input_button:focus {
  outline: outset;
}

.input_button:hover {
  background-color: #670362;
  color: #fff;
}

.modal-content {
  border-radius: 10px;
}

.modal__insrip {
  height: 50rem;
  width: 100%;
}

.modal__insrip .modal__title, .modal__insrip .modal__title-connex {
  font-size: 2rem;
  color: #ed5830;
  font-weight: bold;
}

.modal__title-connex {
  font-size: 2rem;
  color: #ed5830;
  font-weight: bold;
}

.form_class {
  width: 100%;
  height: 40rem;
}

.form_class .input__box {
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  border: 1px solid  #67036210;
}

.form_class .input__box input {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
}

.form_class .input__box input:focus {
  outline: none;
}

/***/
.form_class2 {
  width: 100%;
  height: 20rem;
  text-align: center;
}

.form_class2 .input__box {
  width: 100%;
  height: 5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.form_class2 .input__box input {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid  #67036210;
}

.form_class2 .input__box input:focus {
  outline: none;
}

.btn__button__chat {
  position: fixed;
  right: 1%;
  bottom: 0;
  -webkit-transform: translate(-99%, -100%);
          transform: translate(-99%, -100%);
  height: 7rem;
  width: 7rem;
  background-color: #670362;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__button__chat img {
  height: 4rem;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn__button__chat .fermer {
  display: none;
}

.btn__conversation {
  float: right;
  padding: 1rem 2rem;
  border: none;
  border-radius: .5rem;
  background-color: #d30707;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.btn__conversation:hover {
  background-color: rgba(211, 7, 7, 0.8);
}

.btn__conversation:focus {
  outline: none;
}

.btn-steps {
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #670362;
  margin-top: 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #670362;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

@media only screen and (max-width: 600px) {
  .btn-steps {
    display: none;
  }
}

.btn-steps:hover {
  background-color: #670362;
  color: #fff;
}

.btn-steps:focus {
  outline: none;
}

.page__field button {
  width: 15rem;
  height: 4rem;
  border: none;
  background-color: #670362;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  outline: none;
  margin-bottom: 1rem;
}

.page__field button:hover, .page__field button:focus {
  -webkit-box-shadow: inset 0 -4.25rem 0 0 #fff;
          box-shadow: inset 0 -4.25rem 0 0 #fff;
  color: #670362;
  border: 1px solid #670362;
}

.page__field button a {
  color: #fff;
}

.page__field button a:hover {
  color: #670362;
}

.addmore {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  background-color: transparent;
  border: 1px solid #670362;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: none;
}

.addmore a {
  color: #670362;
}

.addmore:hover {
  border: 3px solid #670362;
}

@media only screen and (max-width: 453px) {
  .addmore {
    margin-top: 6rem;
  }
}

.copycode {
  padding: .6rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: #fff;
}

.btn-inscrip button {
  padding: .6rem 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  background-color: rgba(103, 3, 98, 0.4);
  border: 1px solid #670362;
}

.btn-inscrip button a {
  color: #fff;
}

.btn-inscrip button:hover {
  background-color: #670362;
}

.btn-connex button {
  padding: .6rem 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  background-color: rgba(103, 3, 98, 0.4);
  border: 1px solid #670362;
}

.btn-connex button a {
  color: #fff;
}

.btn-connex button:hover {
  background-color: #670362;
}

.all__conversation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80vh;
  width: 60rem;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 2222;
  display: none;
}

@media only screen and (max-width: 767px) {
  .all__conversation {
    width: 40rem;
  }
}

@media only screen and (max-width: 600px) {
  .all__conversation {
    width: 25rem;
    left: 70%;
  }
}

.all__conversation__content {
  padding: 2rem;
  height: 93%;
  overflow-x: hidden;
}

.all__conversation__content__discuss {
  border-bottom: 1px dotted #ccc;
  padding: 1rem 0;
}

.all__conversation__content__discuss__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all__conversation__content__discuss__head__icon {
  height: 3rem;
  width: 3rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-right: 1rem;
}

.all__conversation__content__discuss__head__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.all__conversation__content__discuss__head__idClient {
  font-size: 1.3rem;
  color: #670362;
}

.all__conversation__content__discuss__head__idAdmin {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.all__conversation__content__discuss__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.all__conversation__content__discuss__message p {
  width: 70%;
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
  .all__conversation__content__discuss__message p {
    font-size: 1.2rem;
  }
}

.all__conversation__content__discuss__message span {
  font-size: 1.3rem;
  font-weight: 300%;
}

.all__conversation__close {
  width: 100%;
  border-top: 1px solid #ccc;
  bottom: 0;
  position: absolute;
  bottom: 0;
  padding: 1rem 2rem;
}

.conversationView {
  display: block;
}

/************* Conversation ****************/
.contenu_chat {
  background-size: contain;
  background-repeat: no-repeat;
}

.contenu_chat__date {
  min-height: 3.5rem;
  width: 20%;
  border-radius: 20px;
  border: 2px solid #f3f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.contenu_chat__date span {
  font-size: 2rem;
  color: #670362;
}

.contenu_chat__visiteur p {
  background-color: #1481ac;
  width: 15rem;
  min-height: 1rem;
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem;
  text-align: start;
  border-bottom-left-radius: 20px;
}

.contenu_chat__admin {
  width: 15rem;
  min-height: 1rem;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenu_chat__admin p {
  width: 15rem;
  min-height: 1rem;
  background-color: #dbdbe0;
  color: #444;
  font-size: 1.8rem;
  padding: 1rem;
  text-align: start;
  border-bottom-left-radius: 20px;
  float: right;
}

.contenu_chat__admin .admin-jour {
  float: right;
  margin-bottom: 1rem;
}

.card__stats {
  min-height: 5rem;
  border: 1px solid #ccc;
  margin-top: 5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.card__stats__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__stats__head__icon {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.card__stats__head__icon img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__stats__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.card__stats__info--tchat {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

.card__stats__info__icon {
  height: 5rem;
  width: 3rem;
  margin-right: 2rem;
}

.card__stats__info__icon--tchat {
  height: 2rem !important;
  margin-right: 0;
}

.card__stats__info__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__stats__historique {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.card__stats__historique__icon {
  height: 5rem;
  width: 2rem;
  margin: 0 .5rem 0 1rem;
}

.card__stats__historique__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.progressMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progressMenu__steps {
  height: 30rem;
  width: 30rem;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 2rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 991px) {
  .progressMenu__steps {
    display: none;
  }
}

.progressMenu__steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.progressMenu__steps__item__icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #dbdbe0;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.progressMenu__steps__item span {
  font-size: 1.6rem;
  color: #dbdbe0;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.progressMenu__steps__item span:hover {
  color: black;
}

.progressMenu__content {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55rem;
  overflow: hidden;
}

@media only screen and (max-width: 650px) {
  .progressMenu__content {
    width: 50rem;
  }
}

@media only screen and (max-width: 600px) {
  .progressMenu__content {
    display: block;
    overflow: visible;
    width: 40rem;
  }
}

@media only screen and (max-width: 500px) {
  .progressMenu__content {
    width: 100%;
  }
}

.progressMenu__content__steps {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 3rem;
}

@media only screen and (max-width: 600px) {
  .progressMenu__content__steps {
    margin-bottom: 5rem;
  }
}

.progressMenu__content__steps p {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.progressMenu__content__steps h3 {
  font-size: 2rem;
  color: #670362;
}

.progressMenu__content__steps__key {
  background-color: #fff;
  width: 50rem;
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 650px) {
  .progressMenu__content__steps__key {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    width: 45rem;
  }
}

@media only screen and (max-width: 600px) {
  .progressMenu__content__steps__key {
    width: 33rem;
  }
}

@media only screen and (max-width: 500px) {
  .progressMenu__content__steps__key {
    width: 100%;
    overflow: scroll;
  }
}

.progressMenu__content__steps__key__info p {
  font-size: 1.3rem;
}

.progressMenu__content__steps__key__info span {
  font-size: 1.5rem;
  font-weight: bold;
}

.progressMenu__content__steps__key__info--script {
  font-size: 1.6rem;
}

.progressMenu__content__steps__key__copy {
  font-size: 1.3rem;
  display: inline-block;
  margin-top: 2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.progressMenu__content__steps__key__copy:hover {
  color: #670362;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.progressMenu .steps-active .progressMenu__steps__item__icon {
  background-color: #670362 !important;
}

.progressMenu .steps-active span {
  color: black;
}

.sidebar {
  height: 100vh;
  width: 7rem;
  background-color: #670362;
  position: fixed;
  padding: 2rem 0;
}

.sidebar__logo {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin: 1rem auto;
  text-align: center;
  background-color: #fff;
}

.sidebar__logo img {
  width: 80%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1rem;
}

.sidebar__menu {
  margin-top: 5rem;
}

.sidebar__menu__item {
  padding: 1rem 0;
  margin-bottom: 2rem;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.sidebar__menu__item:hover {
  background-color: rgba(255, 255, 255, 0.123);
  border-right: 3px solid #fff;
}

.sidebar__menu__item--active {
  background-color: rgba(255, 255, 255, 0.123);
  border-right: 3px solid #fff;
}

.sidebar__icon {
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
}

.sidebar__icon img {
  height: 4rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sidebar__deconnexion {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4rem;
  width: 4rem;
}

.sidebar__deconnexion img {
  height: 4rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.rounded-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.rounded-circle .red {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.rounded-circle .yellow {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: yellow;
  cursor: pointer;
  margin-left: 1rem;
}

.rounded-circle .green {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: green;
  cursor: pointer;
  margin-left: 1rem;
}

.rounded-circle .purple {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: purple;
  cursor: pointer;
  margin-left: 1rem;
}

.rounded-circle .gray {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
  margin-left: 1rem;
}

.rounded-circle .black {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  margin-left: 1rem;
}

.rounded-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rounded-icon .sms1 {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: black;
  margin-left: 1rem;
}

.rounded-icon .sms1 img {
  height: 3rem;
  margin-top: 1rem;
}

.rounded-icon .sms2 {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: black;
  margin-left: 1rem;
}

.rounded-icon .sms2 img {
  height: 3rem;
  margin-top: 1rem;
}

.rounded-icon .sms3 {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: black;
  margin-left: 1rem;
}

.rounded-icon .sms3 img {
  height: 3rem;
  margin-top: 1rem;
}

.rounded-icon .sms4 {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: black;
  margin-left: 1rem;
}

.rounded-icon .sms4 img {
  height: 3rem;
  margin-top: 1rem;
}

.table-description {
  position: relative;
}

.table-description .rond {
  min-height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: black;
  margin: 14rem 25rem;
  position: absolute;
}

.card-form {
  background-color: transparent;
  text-align: center;
  min-height: 60rem;
  margin-top: 05%;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 5rem;
}

@media only screen and (max-width: 453px) {
  .card-form {
    padding: 3rem;
  }
}

.card-form__img {
  height: 5rem;
}

.card-form__outer {
  overflow: hidden;
  width: 100%;
}

.card-form__outer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
}

.card-form__outer form .page {
  width: 25%;
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  margin-top: 7rem;
}

.card-form__outer form .page__field {
  margin: 4.5rem 0;
}

.card-form__outer form .page__field__label {
  position: absolute;
}

.card-form__outer form .page__field__label h4 {
  font-size: 1.6rem;
  color: #474747;
}

.card-form__outer form .page__field input {
  height: 100%;
  width: 50rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: #595959;
}

@media only screen and (max-width: 770px) {
  .card-form__outer form .page__field input {
    width: 30rem;
  }
}

@media only screen and (max-width: 453px) {
  .card-form__outer form .page__field input {
    width: 20rem;
  }
}

.card-form .row-color #message {
  width: 98%;
  margin-top: 1rem;
  font-size: 1.6rem;
  padding: 1rem;
  border: 1px solid lightgrey;
}

.user-admin {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

@media only screen and (max-width: 453px) {
  .user-admin {
    display: block;
    margin-bottom: 2rem;
  }
}

.user-admin h4 {
  font-size: 1.7rem;
}

.user-admin__role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4rem;
}

.user-admin__role p {
  font-size: 1.5rem;
}

.user-admin__role .btnd1 {
  background: rgba(103, 3, 98, 0.3);
  border: 1px solid #670362;
  padding: .6rem;
}

.user-admin__role .btnd1 a {
  font-size: 1rem;
}

.user-admin__role .btnd2 {
  border: 1px solid #670362;
  padding: .6rem;
}

.user-admin__role .btnd2 a {
  font-size: 1rem;
}

.user-admin__role .fa {
  margin-top: .6rem;
}

@media only screen and (max-width: 453px) {
  .user-admin__role {
    margin-left: 4rem;
  }
}

.user-admin .user-input {
  height: 3rem;
  width: 20rem;
  padding: 1rem;
  margin-left: 1rem;
  border: 1px solid lightgrey;
}

@media only screen and (max-width: 453px) {
  .user-admin .user-input {
    margin-bottom: 2rem;
    margin-left: 0;
  }
}

.user-admin .user-input1 {
  height: 3rem;
  width: 20rem;
  margin-left: 1rem;
  padding: 1rem;
  border: 1px solid lightgrey;
}

@media only screen and (max-width: 453px) {
  .user-admin .user-input1 {
    margin-left: 0;
  }
}

.user-admin .btnd3 {
  background: rgba(103, 3, 98, 0.3);
  border: 1px solid #670362;
  padding: .6rem;
}

.user-admin .btnd3 a {
  font-size: 1rem;
}

.user-admin .btnd4 {
  border: 1px solid #670362;
  padding: .6rem;
}

.user-admin .btnd4 a {
  font-size: 1rem;
}

.Ncard-form form {
  margin-top: 6rem;
}

.Ncard-form form .page__field input {
  width: 30rem;
  height: 4rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  padding: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 453px) {
  .Ncard-form form .page__field input {
    width: 20rem;
  }
}

.Ncard-form p {
  color: red;
  margin-top: -2rem;
}

.box img {
  width: 100%;
  margin-bottom: 2rem;
}

.row-cards {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.row-cards .cards {
  width: 100%;
  height: 25rem;
  padding: 2rem;
  background-color: #fff;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 991px) {
  .row-cards .cards {
    padding: 1rem;
    height: 28rem;
  }
}

.table-description {
  width: 35rem;
  height: 20rem;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

@media only screen and (max-width: 991px) {
  .table-description {
    width: 25rem;
    margin-left: 2rem;
    height: 7rem;
  }
}

@media only screen and (max-width: 453px) {
  .table-description {
    width: 20rem;
    height: 7rem;
  }
}

.card-script {
  min-height: 20rem;
  background-color: #f5f5f5;
  text-align: center;
  border: 1px dashed #670362;
  border-radius: 1rem;
  margin-top: 4rem;
  padding: 1rem;
}

.card-script code {
  font-size: 1.4rem;
}

.connexion {
  position: relative;
  height: 100vh;
}

.Ncard-form {
  min-height: 40rem;
  width: 50rem;
  background-color: transparent;
  position: absolute;
  padding: 3rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

@media only screen and (max-width: 453px) {
  .Ncard-form {
    width: 30rem;
  }
}

.card__first {
  width: 100%;
  max-height: 80rem;
  overflow: scroll;
  background-color: #fff;
  border-radius: 10px;
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
  /* Style the tab content */
}

@media only screen and (max-width: 320px) {
  .card__first {
    margin-left: 2rem;
  }
}

.card__first .mesChat__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  border-left: 2px solid #670362;
  background-color: #f3f8fa;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin-top: 2rem;
}

.card__first .mesChat__box__item-1 {
  font-size: 3rem;
  font-weight: 600;
  color: #ed1717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
  background-color: rgba(85, 126, 85, 0.205);
}

.card__first .mesChat__box__item-2 {
  width: 10rem;
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__first .mesChat__box__item-2 span {
  font-size: 1.8rem;
}

.card__first .mesChat__box__item-2 p {
  font-size: 1.5rem;
}

.card__first .mesChat__box .jour {
  margin-left: auto;
  color: green;
  font-size: 1.8rem;
}

.card__first .tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

.card__first .tab button {
  background-color: inherit;
  height: 6rem;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

.card__first .tab button:hover {
  background-color: #ddd;
}

.card__first .tab button.active {
  background-color: #ccc;
}

.card__first .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.card__first .tabcontent:not(:last-child) {
  display: block;
}

.second__part #contenu_chat {
  height: 65rem;
  position: relative;
  width: 100%;
  border: 1px solid #670362;
  border-radius: 10px;
  overflow: scroll;
  display: none;
  padding: 2rem;
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  .second__part #contenu_chat {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  .second__part #contenu_chat {
    margin-left: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .second__part #contenu_chat {
    margin-top: 2rem;
  }
}

.second__part #contenu_chat .admin__chat {
  width: 100%;
  min-height: 6rem;
  top: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 13px -2px rgba(0, 0, 0, 0.3);
}

.espace_ecrire {
  width: 100%;
  height: 7rem;
  position: relative;
  top: 69%;
}

.form {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  border: 1px solid lightgray;
  border-bottom: none;
  padding: 1rem;
}

.form .textarea {
  height: 100%;
  width: 88%;
  position: absolute;
  top: 0;
  padding: 1rem;
  border: none;
  z-index: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 1rem;
}

.form .btn_submit {
  width: auto;
  height: 6rem;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 2%;
  top: 20%;
  font-size: 4rem;
  color: #670362;
}

.form .btn_submit:focus {
  outline: none;
}

.conversation__first {
  width: 100%;
  height: 70rem;
  overflow: scroll;
  background-color: #fff;
}

.recharche {
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f0f5;
}

@media only screen and (max-width: 600px) {
  .recharche {
    margin-left: 4rem;
  }
}

@media only screen and (max-width: 320px) {
  .recharche {
    margin-left: 8rem;
  }
}

.recharche .form_recherche {
  height: 4rem;
  width: 35rem;
  border: none;
  border-radius: 20px;
  padding: 1rem;
  font-size: 1.5rem;
}

.label__button {
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #670362;
  color: #fff;
  border-radius: 20px;
  padding: 1rem;
  margin-left: 2rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.label__button:hover {
  -webkit-box-shadow: inset 0 -4.25rem 0 0 #fff;
          box-shadow: inset 0 -4.25rem 0 0 #fff;
  color: #670362;
  border: 1px solid #670362;
}
/*# sourceMappingURL=style.css.map */