// btn chatbot
.btn__button__chat{
        position: fixed;
        right: 1%;
        bottom: 0;
        transform: translate(-99%, -100%);
        height: 7rem;
        width: 7rem;
        background-color: $color-blue;
        border-radius: 50%;
        cursor: pointer;
        transition: ease .2s;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            height: 4rem;
            width: 60%;
            object-fit: contain;
        }

        .fermer{
            display: none; 
        }

    }

    // btn conversation
    .btn__conversation{
        float: right;
        padding: 1rem 2rem;
        border: none;
        border-radius: .5rem;
        background-color: $color-red;
        color: $color-white;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;

        &:hover{
            background-color: rgba($color-red, .8);
        }

        &:focus{
            outline: none;
        }
    }


    // btn steps
    .btn-steps{
        padding: 2rem;
        background-color: $color-white;
        border: 1px solid $color-blue;
        margin-top: 2rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        color: $color-blue;
        font-weight: 300;
        cursor: pointer;
        transition: ease .3s;

        @include responsive(tab-portS){
            display: none;
        }

        &:hover{
            background-color: $color-blue;
            color: $color-white;
        }


        &:focus{
            outline: none;
        }
    }



// page field
.page__field{
    button{
        width: 15rem;
        height: 4rem;
        border: none;
        background-color: $color-violet;
        border-radius: $border-radius;
        color: $color-white;
        cursor: pointer;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        transition: all .5s ease;
        outline: none;
        margin-bottom: 1rem;


        &:hover,&:focus{
            box-shadow: inset 0 -4.25rem 0 0 $color-white;
            color: $color-violet;
            border: 1px solid $color-violet;
        }

        a{
            color: $color-white;

            &:hover{
                color: $color-violet;
            }
        }
    }

}


.addmore{
    padding: 1rem;
    border: none;
    border-radius: $border-radius;
    font-size: 1.6rem;
    background-color: transparent;
    border: 1px solid $color-violet;
    transition: all .3s ease;
    outline: none;

    a{
        color: $color-violet;
    }

    &:hover{
        border: 3px solid $color-violet;
    }

       @include responsive(phoneSmall){
            margin-top: 6rem;
        }
}

.copycode{
     padding: .6rem;
    border: none;
    border-radius: $border-radius;
    font-size: 1.2rem;
    background-color: $color-white;
}

// button inscription
.btn-inscrip{
      button{
        padding: .6rem 3rem;
        border: none;
        border-radius: 1rem;
        font-size: 1.6rem;
        background-color: rgba($color-violet , 0.4);
        border: 1px solid $color-violet;


        a{
            color: $color-white;
        }

          &:hover{
            background-color:$color-violet;
        }
    }
}

// bouton connexion
.btn-connex{
    button{
        padding: .6rem 3rem;
      border: none;
      border-radius: 1rem;
      font-size: 1.6rem;
      background-color: rgba($color-violet , 0.4);
      border: 1px solid $color-violet;


      a{
          color: $color-white;
      }

        &:hover{
          background-color:$color-violet;
      }

    }
}
  
