.progressMenu{
    display: flex;

   &__steps{
       height: 30rem;
       width: 30rem;
       border: 1px solid #ccc;
       background-color: $color-white;
       padding: 2rem;
       margin-right: 2rem;

       @include responsive(tab-landL){
           display: none;
       }

       &__item{
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

            &__icon{
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                background-color: $color-bg;
                color: $color-white;
                font-size: 1.6rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
            }

            span{
                font-size: 1.6rem;
                color: $color-bg;
                cursor: pointer;
                transition: all .2s;

                &:hover{
                    color: black;
                }
            }
       }
   } 

   &__content{
       padding: 2rem;
       display: flex;
       width: 55rem;
       overflow: hidden;
       
       @include responsive(tab-portXs){
           width: 50rem;
       }

       @include responsive(tab-portS){
           display: block;
           overflow: visible;
           width: 40rem;
       }

       @include responsive(phoneL){
           width: 100%;
       }

     

       &__steps{
            transition: all .3s ease-in-out;
            margin-right: 3rem;

            @include responsive(tab-portS){
                margin-bottom: 5rem;
            }

            p{
                font-size: 1.3rem;
                margin: 1rem 0;
            }

            h3{
                font-size: 2rem;
                color: $color-blue;
            }

            &__key{
                background-color: $color-white;
                width: 50rem;
                padding: 2rem;
                border-radius: 1rem;
                cursor: pointer;
                display: flex;
                justify-content: space-between;

                @include responsive(tab-portXs){
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: none;
                    width: 45rem;
                }

                @include responsive(tab-portS){
                    width: 33rem;
                }

                @include responsive(phoneL){
                    width: 100%;
                    overflow: scroll;
                }

                &__info{
                    p{
                        font-size: 1.3rem;
                    }

                    span{
                        font-size: 1.5rem;
                        font-weight: bold;
                    }

                    &--script{
                        font-size: 1.6rem;
                    }
                }

                &__copy{
                    font-size: 1.3rem;
                    display: inline-block;
                    margin-top: 2rem;
                    transition: all .3s;

                    &:hover{
                        color: $color-blue;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }    

   .steps-active{
       
        .progressMenu__steps__item__icon{
            background-color: $color-blue !important;
        }

        span{
            color: black;
        }
   }

}