.progressMenu{
    display: flex;

   &__steps{
       height: 30rem;
       width: 50rem;
       border: 1px solid #ccc;
       background-color: $color-white;
       padding: 2rem;
       margin-right: 2rem;

       &__item{
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

            &__icon{
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                background-color: $color-bg;
                color: $color-white;
                font-size: 1.6rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
            }

            span{
                font-size: 1.6rem;
                color: $color-bg;
                cursor: pointer;
                transition: all .2s;

                &:hover{
                    color: black;
                }
            }
       }
   } 

   &__content{
       padding: 2rem 1rem;
       height: 30rem;
       overflow: hidden;

       &__steps{
        margin-bottom: 10rem;
        transition: all .3s ease-in-out;

            p{
                font-size: 1.3rem;
                margin: 1rem 0;
            }

            h3{
                font-size: 2rem;
                color: $color-blue;
            }

            &__key{
                background-color: $color-white;
                width: 50%;
                padding: 2rem;
                border-radius: 1rem;
                cursor: pointer;
                display: flex;
                justify-content: space-between;

                &__info{
                    p{
                        font-size: 1.3rem;
                    }

                    span{
                        font-size: 1.5rem;
                        font-weight: bold;
                    }

                    &--script{
                        font-size: 1.6rem;
                    }
                }

                &__copy{
                    font-size: 1.3rem;
                    transition: all .3s;

                    &:hover{
                        color: $color-blue;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }    

   .steps-active{
       background-color: $color-blue !important;
   }

}